@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-image {
    text-align: center;
}

.profile-image input[type="file"] {
    display: none;
}

.profile-figure {
    position: relative;
    width: 120px;
    height: 120px;
}

.profile-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.profile-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.profile-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}
.profile-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}
.profile-figcaption > img {
    margin: 32.5px auto;
    width: 50px;
    height: 50px;
}